name: Master Pipeline

on:
  workflow_dispatch:

jobs:
  aks_iac:
    name: AKS Infrastructure
    uses: Purna7/AKS/.github/workflows/AKS-IAC.yaml@clean-main
    needs: checkout

  dotnet_ci:
    name: Dotnet Application CI
    uses: Purna7/AKS/.github/workflows/DotnetApplication-CI.yaml@clean-main
    needs: aks_iac

  dotnet_cd:
    name: Dotnet Application CD
    uses: Purna7/AKS/.github/workflows/DotnetApplication-CD.yaml@clean-main
    needs: dotnet_ci
