name: Master Pipeline

on:
  workflow_dispatch:

jobs:
  checkout:
    name: Checkout Repository
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

  aks_iac:
    name: AKS Infrastructure
    uses: ./AKS-IAC.yaml
    needs: checkout

  dotnet_ci:
    name: Dotnet Application CI
    uses: ./DotnetApplication-CI.yaml
    needs: aks_iac

  dotnet_cd:
    name: Dotnet Application CD
    uses: ./DotnetApplication-CD.yaml
    needs: dotnet_ci
