name: Master Pipeline

on:
  workflow_dispatch:

jobs:
  aks_iac:
    name: AKS Infrastructure
    uses: ./AKS-IAC.yaml

  dotnet_ci:
    name: Dotnet Application CI
    uses: ./DotnetApplication-CI.yaml
    needs: aks_iac

  dotnet_cd:
    name: Dotnet Application CD
    uses: ./DotnetApplication-CD.yaml
    needs: dotnet_ci
